

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; 
}

body{
	color:#ffffff;
	background-color:grey;
}

.corpus{
	padding-left:2.5%;
	padding-right:2.5%;
	text-align:justify;
}

.navigate{
background-color:#FFC44F;
line-height:3em;
font-size:1.25em;
text-transform:uppercase;
}
.navigate{
	padding-left:5%;
}
.navigate a{

	padding:0.5em;
	/* background-col*or:#ffffff;*/
	color:#ffffff;
	font-family: "GothamThin";
	letter-spacing:2px;
}
.navigate a:hover{
	opacity:0.5;
}

.header {
  background-color: #000;
  height: 300px;
  width: 100%;
}

.container {
  width: 100%;
}

.recipe-edit form input, .recipe-edit form textarea, .login input, .signup input, .form , textarea, select, label{
  border: none;
  border-bottom: 4px solid #000;
  font-size: 16px;
  margin: 10px 30px 0;
  padding-left:10px;
  padding-top:10px;
  padding-bottom:10px;
  /* padding-left:30px; */
  transition: border-bottom 0.5s;
  width: calc(100% - 120px);
}

label{
	border-bottom: 0px solid #000;
	text-transform:uppercase;
	font-size:1.3em;
}

[type="checkbox"]{
  padding-left:0px;
  width: 20px!important;
}

select{
	width:88%;
	margin: 10px 30px 0;
}

.logo {
  background: url("/img/logo.png") no-repeat;
  height: 200px;
  margin: 0 auto;
  position: absolute;
  top: 100px;
  width: 420px;
  left:45%;
}

img{
	float:left;
	padding-right:1%;
	/*
	zoom:0.5;
	-moz-transform:scale(0.5);
	transform-origin:top left;
	*/
}

.navigate ul  {
	position:absolute;
	top:0%;
	right:5%;
}

li {
	list-style: none;
	display:inline;
	font-size:1.3em;
	font-family: "GothamThin";	
	letter-spacing:2px;
	text-transform:uppercase;
}

ul  a:hover{
	color:#000000;
}


h1{
	font-family: "GothamThin";
	padding-top:2em;
	padding-bottom:2em;
	text-transform:uppercase;
	line-height:1.000em;
	padding-left:2.5%;
	font-weight:100;
}


h2 {
	text-transform:uppercase;
	font-weight:100;
	font-size:1.5em;
	text-align:center;
	line-height:1.000em;
	padding-top:1em;
	padding-bottom:1em;		
}
h3 {
	font-size:1.6em;
	line-height:1.800em;
	font-weight:normal;
}
h4 {
	font-size:1.6em;
	line-height:1.400em;
	color:black;
	font-weight:normal;
}


.login, .signup {
  margin: 0 auto;
  width: 400px;
}

.login input, .signup input {
  width: 280px;
  margin-left: 30px;
  width: 340px;
  transition: background 0.5s, color 0.5s;
}
.login input:hover, .signup input:hover {
	cursor:pointer;
}


.bottomButton{
	padding-left:2.5%;
}
/* .button_to input{
	width:100px;
	height:50px;
}
 */.center{
	width:100%;
	text-align:center;
}

.underline{
	text-decoration:underline;
	text-transform:uppercase;
	position:absolute;
	top:8%;
	right:2.5%;
}

.new{
	text-decoration:underline;
	text-transform:uppercase;
	position:absolute;
	top:8%;
	right:2.5%;
}


table, td{
	border:1px solid black;
}

p{
	line-height:2em;
}

/******
  MEDIA QUERIES
******/

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 580px) {
}



